@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
  background: #2e5c2e;
  font-family: "Plus Jakarta Sans", serif;
}
.w-1250{
  width: 1250px;
  margin: 0 auto;
}
.wrapper{
  background: #6d54c6;
}
.wrapper>header{
  height: 86px;
  width: 100%;
  background: #EFF0F3;
  box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 300px;
  position: fixed;
  top: 0;}
.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
#navbar ul li{
  display: inline-flex;
  justify-items: flex-end;
  align-items: center;
  gap: 50px;
  /*padding-bottom: 30px;*/
}
